<div id="parties-form" class="container">
	<% if @party.errors.any? %>
	<div id="error_explanation">
		<h2><%= @party.errors.count %>件のエラーが発生しました。</h2>
		<ul>
			<% @party.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= form_with(model: party, local: true) do |f| %>

	<ul class="party-form">
		<li class="form-group has-feedback">
			<h3>タイトル</h3>
			<%= f.text_field :title , class: "form-control" %>
		</li>
		<li>
			<h3>開催場所</h3>
			<%= f.text_field :venue , class: "form-control" %>
		</li>
		<li>
			<h3>最寄駅</h3>
			<%= f.select :venue_type, t('parties.venue_type'), value: @party.venue_type  %>
		</li>
		<li>
			<h3>開催日時</h3>
			<%= f.text_field :venue , class: "form-control" %>
		</li>
		<li>
			<h3>最寄駅</h3>
			<%= f.select :venue_type, t('parties.venue_type'), value: @party.venue_type  %>
		</li>
		<li>
			<h3>開催場所の住所</h3>
			<%= f.text_field :venue_address , class: "form-control" %>
		</li>
		<li>
			<h3>県</h3>
			<%= f.text_field :prefecture , class: "form-control" %>
		</li>
		<li>
			<h3>市</h3>
			<%= f.text_field :city , class: "form-control" %>
		</li>

		<li>
			<h3>男性料金</h3>
			<%= f.text_field :male_fee , class: "form-control" %>
		</li>
		<li>
			<h3>女性料金</h3>
			<%= f.text_field :women_fee , class: "form-control" %>
		</li>
		<li>
			<h3>男性の最高年齢</h3>
			<%= f.number_field :max_age_man , class: "form-control", min: "20", max:"50" %>
		</li>
		<li>
			<h3>男性の最小年齢</h3>
			<%= f.text_field :min_age_man , class: "form-control" %>
		</li>
		<li>
			<h3>女性の最高年齢</h3>
			<%= f.text_field :max_age_women , class: "form-control" %>
		</li>
		<li>
			<h3>女性の最小年齢</h3>
			<%= f.text_field :min_age_women , class: "form-control" %>
		</li>

		<div class="input-group pull-left">
			<input type="text" class="form-control date" />
		</div>
	</ul>

	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
</div>

<br>
<br>
<br>
