<div class="container">
	<% if @party.errors.any? %>
	<div id="error_explanation">
		<h2><%= @party.errors.count %>件のエラーが発生しました。</h2>

		<ul>
			<% @party.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= form_with(model: party, local: true) do |form| %>

	<ul id="party-form">

		<li class="form-group has-feedback">
			<h3>タイトル</h3>
			<%= form.text_field :title , class: "form-control" %>
		</li>

		<li>
			<h3>開催場所</h3>
			<%= form.text_field :venue , class: "form-control" %>
		</li>

		<li>
			<h3>開催場所の住所</h3>
			<%= form.text_field :venue_address , class: "form-control" %>
		</li>
		<li>
			<h3>県</h3>
			<%= form.text_field :prefecture , class: "form-control" %>
		</li>
		<li>
			<h3>市</h3>
			<%= form.text_field :city , class: "form-control" %>
		</li>

		<li>
			<h3>男性料金</h3>
			<%= form.text_field :male_fee , class: "form-control" %>
		</li>
		<li>
			<h3>女性料金</h3>
			<%= form.text_field :women_fee , class: "form-control" %>
		</li>
		<li>
			<h3>男性の最高年齢</h3>
			<%= form.number_field :max_age_man , class: "form-control", min: "20", max:"50" %>
		</li>
		<li>
			<h3>男性の最小年齢</h3>
			<%= form.text_field :min_age_man , class: "form-control" %>
		</li>

		<li>
			<h3>女性の最高年齢</h3>
			<%= form.text_field :max_age_women , class: "form-control" %>
		</li>
		<li>
			<h3>女性の最小年齢</h3>
			<%= form.text_field :min_age_women , class: "form-control" %>
		</li>
	</ul>


	<div class="actions">
		<%= form.submit %>
	</div>
	<% end %>
</div>

<br>
<br>
<br>
