<div id="parties-form" class="container">
	<% if @party.errors.any? %>
	<div id="error_explanation">
		<h2><%= @party.errors.count %>件のエラーが発生しました。</h2>
		<ul>
			<% @party.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= form_with(model: party, local: true) do |f| %>

	<table class="table table-bordered">
		<tr>	
			<th>パーティー名</th>
			<td><%= f.text_field :title , class: "form-control" %></td>
		</tr>
		<tr>
			<th>日時</th>
			<td><%= f.text_field :venue , class: "form-control" %></td>
		</tr>

		<tr>
			<th>会場名</th>
			<td><%= f.text_field :venue , class: "form-control" %></td>
		</tr>
		<tr>
			<th>場所</th>
			<td><%= f.text_field :venue_address , class: "form-control" %></td>
		</tr>
		<tr>
			<th>最寄り駅</th>
			<td><%= f.select :venue_type, t('parties.venue_type'), value: @party.venue_type %></td>
		</tr>
		<tr class="contents_duplicated">
			<th>最寄駅</th>
			<td><%= f.select :venue_type, t('parties.venue_type'), value: @party.venue_type %></td>
		</tr>

		<tr class="contents_duplicated">
			<th>都道府県</th>
			<td><%= f.text_field :prefecture , class: "form-control" %></td>
		</tr>
		<tr class="contents_duplicated">
			<th>市区町村</th>
			<td><%= f.text_field :city , class: "form-control" %></td>
		</tr>
		<tr>
			<th>男性料金</th>
			<td>
				<div class="col-xs-5">
				<%= f.text_field :man_fee , class: "form-control", type: "number", min: "0"  %>
				</div>
			</td>
		</tr>

		<tr>
			<th>女性料金</th>
			<td>
				<div class="col-xs-5">
				<%= f.text_field :women_fee , class: "form-control", type: "number", min: "0" %>
				</div>
			</td>
		</tr>
		<tr class="age">
			<th>男性年齢</th>
			<td id="input_age">
				<%= f.select :min_age_man, t('parties.min_age_man'), value: @party.min_age_man %>
				〜
				<%= f.select :max_age_man, t('parties.max_age_man'), value: @party.max_age_man %>
			</td>
		</tr>

		<tr>
			<th>女性年齢</th>
			<td>
				<%= f.select :min_age_women, t('parties.min_age_women'), value: @party.min_age_women %>
				〜
				<%= f.select :max_age_women, t('parties.max_age_women'), value: @party.max_age_women %>
			</td>
		</tr>


	</table>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
</div>

<br>
<br>
<br>
