<div id="parties-form" class="container">
	<% if @party.errors.any? %>
	<div id="error_explanation">
		<h2><%= @party.errors.count %>件のエラーが発生しました。</h2>
		<ul>
			<% @party.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= form_with(model: party, local: true) do |f| %>

	<table class="table table-bordered">
		<tr>	
			<th>タイトル</th>
			<td><%= f.text_field :title , class: "form-control" %></td>
		</tr>
		<tr>
			<th>開催場所</th>
			<td><%= f.text_field :venue , class: "form-control" %></td>
		</tr>
		<tr>
			<th>最寄駅</th>
			<td><%= f.select :venue_type, t('parties.venue_type'), value: @party.venue_type %></td>
		</tr>

		<tr>
			<th>開催日時</th>
			<td><%= f.text_field :venue , class: "form-control" %></td>
		</tr>
		<tr>
			<th>最寄駅</th>
			<td><%= f.select :venue_type, t('parties.venue_type'), value: @party.venue_type %></td>
		</tr>

		<tr>
			<th>開催場所の住所</th>
			<td><%= f.text_field :venue_address , class: "form-control" %></td>
		</tr>

		<tr>
			<th>県</th>
			<td><%= f.text_field :prefecture , class: "form-control" %></td>
		</tr>
		<tr>
			<th>区・市</th>
			<td><%= f.text_field :city , class: "form-control" %></td>
		</tr>

		<tr>
			<th>男性料金</th>
			<td><%= f.text_field :male_fee , class: "form-control" %></td>
		</tr>

		<tr>
			<th>女性料金</th>
			<td><%= f.text_field :women_fee , class: "form-control" %></td>
		</tr>

		<tr class="age">
			<th>男性の最高年齢</th>
			<td>
				<%= f.text_field :min_age_man , class: "form-control" %> 〜 
				<%= f.number_field :max_age_man , class: "form-control", min: "20", max:"50" %>
			</td>
		</tr>

		<tr>
			<th>女性の年齢</th>
			<td>
				<%= f.text_field :min_age_women , class: "form-control" %> 〜 
				<%= f.text_field :max_age_women , class: "form-control" %>
			</td>
		</tr>


	</table>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
</div>

<br>
<br>
<br>
