<div id="paties-index">
	<div class="container">

		<!-- 検索機能 -->
		<section id="search-party">
			<%= search_form_for @q do |f| %>
			<div class="control-group">
				<%= f.label :title %>
				<div class="controls">
					<%= f.search_field :title_cont %>
				</div>
			</div>
			
			<%= f.submit %>


			<div class="title">
				<img class="icon-search" src="<%= image_path 'icons/icon_search.png' %>">
				<h3>スケジュールを検索</h3>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<th>開催日</th>
						<td class="event-date">
							<div class="input-group pull-left">
								<input type="text" class="form-control date" />
							</div>

							<p class="pull-left">〜</p>
							
							<div class="input-group pull-left">
								<input type="text" class="form-control date" />
							</div>
							<div class="clearfix"></div>
						</td>
					</tr>
					<tr>
						<th>場所</th>
						<td><%= f.select :venue_type, t('parties.venue_type'), class: "form-control" %></td>
					</tr>
					<tr>
						<th>人数</th>
						<td>@TaroQ</td>
					</tr>
					<tr>
						<th>状況</th>
						<td>@TaroQ</td>
					</tr>

				</tbody>
			</table>
			<% end %>
		</section>

		<section id="paties-list">
			<ul class="paties-list">
				<% @parties.each do |party| %>
				<li>
					<h3 class="party-title"><%= party.title %></h3>
					
					<div class="party-detail">
						<img class="party-thumb" src="<%= image_path 'parties/party_sample1.png' %>">
						
						<div class="party-detail-left">
							<table>
								<tbody>
									<tr>
										<th>会場</th>
										<td><%= party.venue %></td>
									</tr>
									<tr>
										<th>料金</th>
										<td>男性：<%= party.male_fee %>　/　女性： <%= party.women_fee %></td>
									</tr>
									<tr>
										<th>男性料金</th>
										<td></td>
									</tr>
								</tbody>
							</table>
							<div class="participant-list">
								<h4 class="participant-list-title">現在の進捗</h4>
								<div class="participant-list-man">
									<p>27歳 会社員</p>
									<p>28歳 エンジニア</p>
								</div>
								<div class="participant-list-woman">
									<p>25歳 看護師</p>
									<p>25歳 看護師</p>
									<p>26歳 弁護士</p>
								</div>
								<div class="clearfix"></div>

							</div>
						</div>
						<div class="clearfix"></div>
					</div>

					<%# link_to 'Show', party %>
					<%# link_to 'Edit', edit_party_path(party) %>
					<%# link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %>
				</li>
				<% end %>
			</ul>
		</section>
	</div>
</div>

