<p id="notice"><%= notice %></p>

<div id="paties-index">
	<div class="container">
		<%= link_to 'New Party', new_party_path %>

		<ul class="paties-list">
			<% @parties.each do |party| %>
			<li>
				<%= link_to 'Show', party %>
				<%= link_to 'Edit', edit_party_path(party) %>
				<%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %>
			</li>
			<% end %>
		</ul>
	</div>
</div>

