<div id="profiles-form">
	<%= form_with(model: profile) do |form| %>
	
	<section class="profiles-left">
		<img class="my-thumb" src="<%= image_path 'thumb/mythumb.png' %>">
	</section>

	<section class="profiles-right">
		<% if profile.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

			<ul>
				<% profile.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="contents-title">
			<h3>プロフィール情報</h3>
		</div>

		<table class="form-table">
			<tr>	
				<th>ニックネーム</th>
				<td><%= form.text_field :nic_name , class: "form-control" %></td>
			</tr>
			<tr>
				<th>年齢</th>
				<td><%= form.number_field :age , class: "form-control" %></td>
			</tr>
			<tr>
				<th>住所</th>
				<td class="address">
					<p>郵便番号</p>
					<div class="postal-code margin-bottom-8px">
						<input type="text" name="zip31" size="4" maxlength="3" class="zip31 form-control">
						<span>－</span>
						<input type="text" name="zip32" size="5" maxlength="4" class="zip32 form-control" onKeyUp="AjaxZip3.zip2addr('zip31','zip32','pref31','addr31','addr31');"><br>
						<div class="clearfix"></div>
					</div>
					<input type="text" name="pref31" size="20" class="pref31 form-control margin-bottom-8px" style="display: none">
					<input type="text" name="addr31" size="40" class="addr31 form-control margin-bottom-8px" style="display: none">
					<%= form.text_field :postal_code, style: "display: none" %>
					<%= form.text_field :address1, style: "display: none" %>
					<%= form.text_field :address2, style: "display: none" %>
				</td>
			</tr>

			<tr>
				<th>職業タイプ</th>
				<td><%= form.select :job_type, t('profiles.job_type'), class: "form-control"  %></td>
			</tr>
			<tr>
				<th>年収</th>
				<td><%= form.text_field :annual_income , class: "form-control" %></td>
			</tr>
			<tr>
				<th>身長</th>
				<td><%= form.text_field :height , class: "form-control" %></td>
			</tr>
			<tr>
				<th>服装</th>
				<td><%= form.text_field :garments , class: "form-control" %></td>
			</tr>
			<tr>
				<th>血液型</th>
				<td><%= form.text_field :blood_type , class: "form-control" %></td>
			</tr>
			<tr>
				<th>喫煙</th>
				<td><%= form.text_field :smoke_flag , class: "form-control" %></td>
			</tr>
			<tr>
				<th>お酒</th>
				<td><%= form.text_field :drink_type , class: "form-control" %></td>
			</tr>
			<tr>
				<th>最寄駅</th>
				<td><%= form.text_field :favorite_stations , class: "form-control" %></td>
			</tr>
			<tr>
				<th>空いている曜日</th>
				<td><%= form.text_field :free_week , class: "form-control" %></td>
			</tr>
			<tr>
				<th>恋愛対象年齢</th>
				<td>
					<div class="row">
						<div class="col-xs-4">
							<%= form.number_field :target_min_age , class: "form-control", min: "20", value:@profile.target_min_age  %>
						</div>
						<div class="pull-left">〜</div>
						<div class="col-xs-4">
							<%= form.number_field :target_max_age , class: "form-control" %>
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<th>結婚歴</th>
				<td>
					<label><%= form.radio_button :marriage_history, 0 %> なし</label>
					<label><%= form.radio_button :marriage_history, 1 %> あり </label>
				</td>
			</tr>
			<tr>
				<th>ダメな項目</th>
				<td><%= form.text_field :ng_list , class: "form-control" %></td>
			</tr>
			<tr>
				<th>自己PR</th>
				<td><%= form.text_field :self_pr , class: "form-control" %></td>
			</tr>
		</table>

		<div class="actions">
			<%= form.submit %>aa
		</div>
		<% end %>
	</section>

	<div class="clearfix"></div>
</div>