<p ><%= notice %></p>

<h1>Foot Prints</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foot_prints.each do |foot_print| %>
      <tr>
        <td><%= link_to 'Show', foot_print %></td>
        <td><%= link_to 'Edit', edit_foot_print_path(foot_print) %></td>
        <td><%= link_to 'Destroy', foot_print, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foot Print', new_foot_print_path %>
