<!DOCTYPE html>
<html>
<head>
	<title>Rivelcon</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
	<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css">
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse">
				<span class="sr-only">メニュー</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div id="gnavi" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'パーティー一覧', parties_path %></li>
				
				<li><%= link_to '新規パーティー', new_party_path %></li>
				
				<% if user_signed_in? %>
				<li>
					<%= link_to 'プロフィール', {:controller => :profiles, :action => :profile_top, :id => current_user.id} %>
				</li>
				<% end %>

				<li>
					<% if admin_signed_in? %>
					<%= link_to "adminログアウト", destroy_admin_session_path, method: :delete %>
					<% else %>
					<%= link_to "adminログイン", new_admin_session_path, method: :create %>
					<% end %>
				</li>
				<li>
					<% if user_signed_in? %>
					<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
					<% else %>
					<%= link_to "ログイン", new_user_session_path, method: :create %>
					<% end %>
				</li>
			</ul>
		</div>
	</nav>

	<% if notice %>
	<p class="notice"><%= notice %></p>
	<% elsif alert %>
	<p class="alert"><%= alert %></p>
	<% end %>
	<%= yield %>
</body>
</html>
